.siteLayoutContent {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1;
  transition: all 200ms ease 0s;
  padding: 24px;
  min-height: 280px;

  .coverImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
}
