// .customSelect {
//   :global {
//     .ant-menu-dark,
//     .ant-menu-dark .ant-menu-sub {
//       background: white;
//     }
//   }
// }
.navWrapper {
  width: 980px;
  margin: 0px auto;
}
.logo {
  height: 31px;
  // margin: 16px 24px 16px 0;
  float: left;
}
